.story-tray {
  width: 100%;
  overflow-x: scroll;
}

.story-tray ul {
  display: flex;
  flex-direction: row;
}

.story-tray li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.7em;
}

.story-tray__img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgba(252, 189, 78, 1) 10%,
    rgba(255, 49, 75, 1) 55%,
    rgba(211, 5, 199, 1) 100%
  );
  margin-right: 0.2em;
  margin-bottom: 0.5em;
}

.story-tray__img img {
  width: 70px;
  height: 70px;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover;
}
