.container {
  height: 100vh;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
  }
}

@media screen and (width>500px) {
  .container {
    width: 500px;
    margin-top: 1em;
    border: 1px solid gray;
    border-radius: 20px;
  }
}
